/*Developed with Remix Tsx*/
/*imagen inicial and developer*/
.portafolio-main {
  display: flex;
  margin-left: 10rem;
  padding-top: 5rem;
  justify-content: center;
}
.portafolio__container-logo img {
  width: 40px;
  height: auto;
  margin-left: 30px;
}
.portafolio__container-logo {
  display: flex;
  align-items: center;
  position: fixed;
  background-color: var(--color-nav);
  width: 100vw;
  padding-top: 23px;
  padding-bottom: 16px;
  align-items: flex-start;
  border-bottom: 1px solid var(--color-border);
}
span.logo-medium {
  font-size: 2.5rem;
}
/*Portafolio Outlet*/
.portafolio-outlet {
  display: flex;
  flex-direction: column;
  padding-left: 16rem;
  padding-top: 3rem;
  padding-right: 4rem;
}
/*container perfile */
.portafolio-perfile {
  color: var(--color-text2);
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 80px;
  left: 0;
  background-color: var(--perfile);
  overflow-x: hidden;
}
.portafolio-perfile img {
  display: block;
  width: 60%;
  margin: auto;
  border-radius: 50%;
}
.portafolio-perfile-h5 {
  text-align: center;
  background-color: var(--main-wrapper);
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
  font-size: 1.875em;
}
.portafolio-perfile p {
  color: var(--color-text2);
  text-align: center;
  font-size: 16px;
}
/*Icons Redes*/
.portafolio-card-links{
  font-size: 30px;
  display: flex;
  margin-left: 80px;
  margin-top: 0;
  margin-bottom: 0;
}

.portafolio-card-content:hover .portafolio-card-links{
  right: 10px;
  border-radius: 10px 10px 10px 10px;
}
.portafolio-card-content .portafolio-card-links li:nth-child(1):hover{
  color: #ffff00;
}
.portafolio-card-content .portafolio-card-links li:nth-child(2):hover{
  color: #0a66c2;
}
.portafolio-card-content .portafolio-card-links li:nth-child(3):hover{
  color: #000000;
}
.portafolio-card-content .portafolio-card-links li:nth-child(4):hover{
  color: #1d9bf0;
}
/* links */
.portafolio__links {
  list-style: none;
  position: relative;
  padding-left: 1.898em;
  padding-right: 1em;
  margin-top: 0;
  font-size: 1.875em;
}
p span {
  color: var(--primary-color);
  font-weight: bold;
}

ul {
  padding: 1px;
  list-style: none;
  z-index: 1;
}
button {
  position: relative;
  width: 210px;
  padding: 15px 0;
  background: transparent;
  color: white;
  border: 1px solid var(--color-nav);
  cursor: pointer;
  overflow: hidden;
  text-transform: uppercase;
}
ul span {
  background: var(--color-nav);
  height: 100%;
  width: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span {
  width: 100%;
}
li {
  padding: 10px;
  list-style: none;
}
