.portafolio__container-perfile {
  background-color: var(--perfile);
  color: var(--color-text2);
  text-align: left;
  border: 1px solid red;
  position: relative;
  height: 100vh;
  width: 280px;
}
.portafolio-perfile h5 {
  text-align: center;
}

.portafolio-header {
  background-color: var(--bg-color);
}
.container img {
  width: 40px;
  height: auto;
  margin-left: 35px;
}
.portafolio-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
}
.container {
  display: flex;
  align-items: center;
}
.portafolio-main {
  display: flex;
  margin-left: 35px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex: 1 1 100%;
}
.portafolio-outlet {
  margin-left: 10rem;
}
ul {
  list-style: none;
  position: absolute;
  left: 10px;
  top: 20px;
}
