.about-container{
  margin: 3px solid red;
}
.about-container img {
    width: 150px;
    height: auto;
    margin-left: 10px;
    }
.about-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card{
  position: relative;
  width: 350px;
  height: 450px;
  border-radius: 10px;
  box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
  margin: 20px;
}
.card .card-content{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  padding: 20px;
  background-color: var(--color-nav);
}
.card .card-content .img{
  height: 50%;
  margin-bottom: 20px;
}
.card .card-content .img img{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.card-content .card-links{
  position: absolute;
  width: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
  padding: 20px;
  align-items: center;
  right: -50px;
  top: 15px;
  transition: .5s;
}

.card-content:hover .card-links{
  right: 10px;
  border-radius: 10px 10px 10px 10px;
}
.card-content .card-links{
  font-size: 28px;
}
.card-content .card-links a:nth-child(1):hover{
  color: #385898;
}
.card-content .card-links a:nth-child(2):hover{
  color: var(--blanco);
}
.card-content .card-links a:nth-child(3):hover{
  color: #0a66c2;
}