h1,h2,h3,h4{
  text-align: center;
}
.container{
  background-image: url(../../../public/img//collage.jpg);
}
video#myVideo {
  height: 84.76554vh;
  object-fit: cover;
}
.button {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
