h1,h2{
  text-align: center;
  color:var(--blanco);
}
p{
  color: var(--blanco);
  text-align: center;
}
a {
  font-size: 30px;
}
 p .remix{
  font-size: 20px;
}
img {
  width: 100px;
  height: auto;
}
/* Carousel*/
.experiencia_content{
  height: 300px;
  width: 800px;
  left: cal(50% - 300px);
  display: flex;
}
.card {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 250px;
  background-color:var(--perfile);
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.4s ease-out;
  position: relative;
  left: 0;
}
.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}
.bar {
  position: absolute;
  top: 120px;
  left: 20px;
  height: 5px;
  width: 150px;
}
.emptybar {
  background-color: #2e3033;
  width: 130%;
  height: 100%;
}
.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0, 154, 217);
  background: linear-gradient(
    90deg,
    var(--color-nav) 0%,
    var(--color-background) 65%,
    var(--blanco) 100%
  );
  transition: 0.6s ease-out;
}
.card:hover .filledbar {
  width: 170px;
  transition: 0.4s ease-out;
}
.circle {
  position: absolute;
  top: 280px;
  left: calc(50% - 60px);
}
.circle .icon{
  color: var(--blanco);
  position: absolute;
  top: 80px;
  left: calc(35% - 60px);
}
.circle .icon:hover{
  color: var(--color-background);
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}

svg circle {
  fill: #17141d;
  stroke-width: 2px;
}
.circle img{
  position: absolute;
  top: 52px;
  left: calc(25% - 60px);
  width: 30%;
}
