.container {
  min-height: inherit;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 16px 14px 20px #0000008c;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.content::before {
  content: "";
  background-image: conic-gradient(
    var(--main-wrapper) 20deg,
    transparent 120deg
  );
  width: 150%;
  height: 800%;
  position: absolute;
  animation: rotate 2s linear infinite;
}
.content::after {
  content: "";
  font-size: 8rem;
  width: 98%;
  height: 95%;
  background: var(--main-wrapper);
  position: absolute;
  border-radius: 10px;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
ul {
  display: flex;
  flex-direction: row;
  padding: 1px;
  list-style: none;
  position: relative;
  z-index: 1;
}
button {
  position: relative;
  width: 110px;
  padding: 15px 0;
  background: transparent;
  color: white;
  border: 1px solid var(--color-nav);
  cursor: pointer;
  overflow: hidden;
  text-transform: uppercase;
}
ul span {
  background: var(--color-nav);
  height: 100%;
  width: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span {
  width: 100%;
}
ul .row {
  padding: 10px;
}
h1 span {
  position: relative;
  font-size: 8rem;
  margin: 15px;
  z-index: 1;
}
