.perfile-img {
  height: 75vh;
  width: auto;
}
.section-developer {
  display: flex;
}
.portafolio__acerca_info {
  padding-left: 2rem;
}
h1 {
  padding-bottom: 3rem;
  text-align: center;
}
h2 {
  padding-bottom: 1rem;
  text-align: center;
  font-size: 45px;
}
h3 {
  padding-bottom: 1rem;
  text-align: center;
  font-size: 35px;
}
p {
  font-size: 25px;
}
.portafolio__acerca_info p {
  text-align: center;
  color: var(--color-text1);
  border-bottom: 1px solid var(--color-border);
}
